<header class="flex flex-between">
  <p class="totalSkillPoints totalSkillPoints-{{data.skillPoints.className}}">
    Puntos restantes:
    <span>{{data.skillPoints.value}}</span>
  </p>
  <p>
    El máximo de puntos a repartir es: <span>{{data.skillPoints.max}}</span>
  </p>
</header>
<ol class="items-list">
  <div class="grid grid-3col">
    {{#each data.skills as |group groupKey|}}
    <div class="skills skills-group">
      <header class="grid header">
        <h4>{{@groupKey}}</h4>
        <input
          type="text"
          name="data.skills.{{groupKey}}.value"
          value="{{group.value}}"
          data-dtype="Number"
        />
      </header>
      {{#each group.commonSkills as |skill skillName|}}
      <li data-item-id="@key" class="item grid grid-8col">
        <div class="grid-span-5 item-name">
          <h4
            class="rollable center-text"
            data-roll="1d20ms<{{skill.value}}"
            data-roll-dif="1d20ms<({{skill.value}}/2)"
            data-roll-very-dif="1d20ms<({{skill.value}}/4)"
            data-roll-type="skill"
            data-skill="{{groupKey}}"
            data-label="{{skill.label}}"
          >
            {{skillName}}
          </h4>
        </div>
        <span class="center-text bold">{{skill.value}}</span>
        <div>
          <input
            class="border-green"
            type="checkbox"
            name="data.skills.{{groupKey}}.commonSkills.{{@key}}.isSpecialty.0"
            value="{{skill.isSpecialty.[0]}}"
            {{checked
            skill.isSpecialty.[0]}}
            data-dtype="Boolean"
          />
          <input
            class="border-green"
            type="checkbox"
            name="data.skills.{{groupKey}}.commonSkills.{{@key}}.isSpecialty.1"
            {{checked
            skill.isSpecialty.[1]}}
            data-dtype="Boolean"
          />
          <input
            class="border-green"
            type="checkbox"
            name="data.skills.{{groupKey}}.commonSkills.{{@key}}.isSpecialty.2"
            {{checked
            skill.isSpecialty.[2]}}
            data-dtype="Boolean"
          />
        </div>
        <div>
          <input
            class="border-red"
            type="checkbox"
            name="data.skills.{{groupKey}}.commonSkills.{{@key}}.isWeakness"
            {{checked
            skill.isWeakness}}
            data-dtype="Boolean"
          />
        </div>
        <!-- <div>
      <input
        disabled
        class="center-text"
        name="data.skills.{{@key}}.baseValue"
        value="{{skill.baseValue}}"
        data-dtype="Number"
      />
    </div>
    <div>
      <input
        step="any"
        type="number"
        class="center-text  {{skill.className}}"
        name="data.skills.{{@key}}.points"
        value="{{skill.points}}"
        data-dtype="Number"
      />
    </div> -->
      </li>
      {{/each}}
    </div>
    {{/each}}
  </div>
</ol>
